#navbarSupportedContent {
  justify-content: flex-end;
}

.navbar {
  background-color: rgb(0 0 0 / 80%);
  border-bottom: 1px solid rgb(243 76 39 / 48%);
  height: 70px;
}

.scrolling-navbar {
  background-color: #ffffff;
  box-shadow: 0 5px 10px -1px rgba(87, 97, 100, 0.35)
}

.scrolling-navbar .nav-item {
  color: #000000;
}

.nav-item {
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  
}

.nav-item a {
  padding: 20px 20px;
  transition: all 0.4s ease-in-out
}

.nav-item a:hover {
  background-color: #56ac64;
}